
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/PSOAuthHelper/.vs/*
library/PSOAuthHelper/PSOAuthHelper/bin/*
library/PSOAuthHelper/PSOAuthHelper/obj/*

# ignore PowerShell Studio MetaData
PSOAuthHelper/PSOAuthHelper.psproj
PSOAuthHelper/PSOAuthHelper.psproj.bak
PSOAuthHelper/PSOAuthHelper.psprojs
PSOAuthHelper/PSOAuthHelper.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*